/* font used */
@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/Outfit-VariableFont_wght.ttf');
}

/* card properties */
.card-container{
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 0px 6px hsla(218, 37%, 16%, 0.685);
    padding : 2.5vh 6vw;
    margin : 0px 6vw;
    position: relative;
}

.switch-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    border-radius: 0.8rem;
}

.fullimage{
    width: 100%;
    border-radius: 0.8rem;
    transition: .5s ease;
    background: hsl(178, 100%, 50%);
}

.overlap{
    display: grid;
    opacity: 0;
    width: 15%;
    position: absolute;
    top:inherit;
    transition: .5s ease;
    
}

/* global properties */
p{
    font-family: 'Outfit';
    color: white;
}

header > p{
    font-weight: 600;
    font-size: 5.8vw;
    margin: 2.7vh 0px;
}

.body > p{
    margin-top: 0px;
    margin-bottom: 2.7vh;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    font-size: 4vw;
}

.group-1, .group-2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.group-1 > img{
    object-fit: contain;
    margin-right: 2vw;
    margin-bottom: 2.7vh;
}

.group-1 > .cost{
    margin-top: 0px;
    margin-bottom: 2.7vh;
    font-weight: 600;
    color: hsl(178, 100%, 50%);
    font-size: 3vw;
}

.clock{
    margin-left: auto;
}

.time{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    text-align: right;
    margin-right: 0px;
    margin-bottom: 2.7vh;
    margin-top: 0px;
    font-size: 3vw;
}

.attribution { 
    font-size: 2.5vw; 
    text-align: center; 
    margin-top: 2.5vh;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.line{
    border: 1px solid hsl(215, 32%, 27%);
    margin-bottom: 2.7vh;
}

.group-2 > img{
    object-fit: contain;
    margin-right: 5vw;
    margin-bottom: 2.7vh;
}

.profile{
    width: 10vw;
    border: 1px solid white;
    border-radius: 10vw;
}

.user{
    margin-top: 0px;
    color: hsl(215, 51%, 70%);
    font-size: 4vw;
    margin-bottom: 2.7vh;
}

span{
    color: white;
}

/* click event */
header p:active, span:active{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.switch-container:active{
    background-color: hsl(178, 100%, 50%);
    opacity: 1;
}

.switch-container:active .fullimage{
    opacity: 0.5;
}

.switch-container:active .overlap{
    opacity: 1;
}


/* for devices => 481px */
@media (min-width : 481px) {
    
    /* updated card properties */
    .card-container{
        border-radius: 0.3rem;
        margin: 0px 38vw;
        padding : 2vh 2vw;
    }

    /* updated values */
    img{
        border-radius: 0.3rem;
    }

    header > p{
        font-size: 1.5vw;
        margin: 1.5vh 0px;
    }

    .body > p{
        margin-bottom: 2vh;
        font-size: 1.2vw;
    }

    .attribution { 
        font-size: 0.8vw;  
        margin-top: 1.3vh;
    }

    .group-1 > img{
        margin-right: 0.5vw;
        margin-bottom: 1.5vh;
        width: 1vw;
    }

    .group-1 > .cost{
        margin-top: 0px;
        margin-bottom: 1.5vh;
        font-size: 1vw;
    }

    .time{
        margin-bottom: 1.5vh;
        font-size: 1vw;
    }

    .line{
        margin-bottom: 1.5vh;
    }
    
    .group-2 > img{
        margin-right: 1vw;
        margin-bottom: 1vh;
        width: 2.5vw;
    }

    .profile{
        border-radius: 2.5vw;
    }

    .user{
        font-size: 1vw;
        margin-bottom: 1vh;
    }

    /* hover event */
    header p:hover, span:hover{
        color: hsl(178, 100%, 50%);
        cursor: pointer;
    }

    .switch-container:hover{
        background-color: hsl(178, 100%, 50%);
        opacity: 1;
        cursor: pointer;
    }

    .switch-container:hover .fullimage{
        opacity: 0.5;
    }

    .switch-container:hover .overlap{
        opacity: 1;
    }
}

/* for devices => 801px */
@media (min-width : 801px) {
    
    /* card properties */
    .card-container{
        padding : 2vh 2vw;
        border-radius: 0.5rem;
    }

    /* updated values */
    img{
        border-radius: 0.5rem;
    }
}

@media (min-width : 901px) {
    
    /* card properties */
    .card-container{
        border-radius: 0.8rem;
    }

    img{
        border-radius: 0.8rem;
    }
    
}


@media (min-width : 1501px) {
    
    /* card properties */
    /* .card-container{
        width: 20vw;
        height: 55vh;
        border-top-right-radius: 1vw;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    } */
}