<!-- Container -->
<main class="card-container">
  
    <div>
      <img src="../assets/images/image-equilibrium.jpg" alt="image avater"/>
    </div>
    
    <header>
      <p>Equilibrium #3429</p>
    </header>

    <section class="body">
      <p>Our Equilibrium collection promotes balance and calm.</p>
    </section>

    <section class="group-1">

      <img src="../assets/images/icon-ethereum.svg" alt="etherem icon"/>

      <p class="cost">0.041 ETH</p>

      <img class="clock" src="../assets/images/icon-clock.svg" alt="clock icon"/>

      <p class="time">3 days left</p>
    </section>

    <div class="line"></div>
    
</main>

<!-- footer -->
<div class="attribution">
  <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
  Coded by <a href="https://github.com/Kennedy-was-taken/nft-preview-card-component-main">Tokelo</a>.</p>
</div>